<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% load static %}
    <link rel="stylesheet" href="{% static 'mystyle.css' %}" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
      integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
      crossorigin="anonymous"
    />
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <title>{{ this_movie.title }}</title>
  </head>
  <body>
    <!--------------------- Navbar ---------------------->
    <div class="pos-f-t">
      <div class="collapse" id="navbarToggleExternalContent">
        <div class="bg-dark p-4">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="/movies">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/search">Search</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/my_list">My Filmlist</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/watched">Watched</a>
            </li>
          </ul>
        </div>
      </div>
      <nav class="navbar navbar-expand-lg navbar-dark shadow-sm rounded">
        <a class="navbar-brand" id="logo" href="/movies">Filmlist</a>
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="/movies">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/search">Search</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/my_list">My Filmlist</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/watched">Watched</a>
            </li>
          </ul>
          <p class="mb-0">
            <a href="/profile" class="mr-1 text-white-50 nhyper">Profile</a>
            <a href="/signout" class="mr-3 ml-1 text-white-50 nhyper"
              >Sign out</a
            >
          </p>
        </div>
      </nav>

      <!------------------- Movie Poster --------------------->

      <div class="container">
        <div class="row">
          <div class="text-center col-md-6 mt-2">
            <h3 class="text-light text-center">{{ this_movie.title }}</h3>
            <img
              class="poster mt-2"
              src="{{poster}}{{this_movie.poster_path}}"
              alt="{{this_movie.title}}"
            />

            <!------------------- Trailer Modal  ------------------->

            <div class="bs">
              <!---- Button (to Trigger Modal) ---->
              <a
                href="#myModal"
                class="btn btn-secondary btn-sm"
                data-toggle="modal"
                >Play Trailer</a
              >

              {% if this_movie.id in this_user.film_list.movie_id %}
              <p class="mt-3 text-light">
                <em>This movie is in your Filmlist</em>
              </p>
              {% elif this_movie.id == movie_id in this_user.watched.all %}
              <p class="mt-3 text-light">
                <em>This movie is in your Watched</em>
              </p>
              {% else %}
              <form action="/add_to_list/{{this_movie.id}}" method="POST">
                {% csrf_token %}
                <input
                  type="hidden"
                  name="movie_title"
                  value="{{this_movie.title}}"
                />
                <input
                  type="hidden"
                  name="movie_poster_path"
                  value="{{this_movie.poster_path}}"
                />
                <input
                  type="submit"
                  class="mt-3 btn btn-sm btn-primary"
                  value="+ My Filmlist"
                />
              </form>
              {% endif %}

              <!---- Modal ----->
              <div id="myModal" class="modal fade">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header bg-secondary">
                      <h4
                        class="modal-title text-center text-light bg-secondary"
                      >
                        {{this_movie.title}} Trailer
                      </h4>
                      <button
                        type="button"
                        class="close text-light"
                        data-dismiss="modal"
                        aria-hidden="true"
                      >
                        x
                      </button>
                    </div>
                    <div class="modal-body bg-secondary">
                      <iframe
                        width="560"
                        height="315"
                        src="https://www.youtube.com/embed/{{video.0.key}}"
                        frameborder="0"
                        allowfullscreen
                      ></iframe>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!------------------- Movie Details  ------------------->
          </div>
          <div class="col-md-6 r-col mt-5">
            {% if this_movie.tagline %}
            <h6 class="details text-light r-col">"{{this_movie.tagline}}"</h6>
            {% endif %}
            <ul class="details">
              <li class="text-light">
                Release Date: {{this_movie.release_date}}
              </li>
              <li class="text-light">
                <a class="text-light" href="movies/genres">Genre:</a>
                {% for genre in this_movie.genres %} {{ genre.name }},
              </li>
              {% endfor %}
              <li class="text-light">
                Runtime: {{this_movie.runtime}} minutes
              </li>
              <li class="text-light">
                Avg. Rating: {{this_movie.vote_average}}
              </li>
            </ul>
            <div class="text-light r-col mt-0">
              <p class="bg-secondary p-2 shadow p-3 mb-2 bg-secondary rounded">
                Summary:<br />{{this_movie.overview}}
              </p>

              <div class="row">
                <div class="col-6">
                  <a href="/movies" class="btn go-back mb-2">Go Home</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!---------------------------------------------------------------------------->
    </div>
  </body>
</html>
