<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://owlcarousel2.github.io/OwlCarousel2/assets/owlcarousel/assets/owl.carousel.min.css"
    />
    <link
      rel="stylesheet"
      href="https://owlcarousel2.github.io/OwlCarousel2/assets/owlcarousel/assets/owl.theme.default.min.css"
    />

    {% load static %}
    <link rel="stylesheet" href="{% static 'mystyle.css' %}" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
      integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
      crossorigin="anonymous"
    />
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <title>Watched</title>
  </head>
  <body>
    <!--------------------- Navbar ---------------------->
    <div class="pos-f-t">
      <div class="collapse" id="navbarToggleExternalContent">
        <div class="bg-dark p-4">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="/movies">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/search">Search</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/my_list">My Filmlist</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/watched">Watched</a>
            </li>
          </ul>
        </div>
      </div>
    <nav class="navbar navbar-expand-lg navbar-dark shadow-sm rounded">
      <a class="navbar-brand" id="logo" href="/movies">Filmlist</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="/movies">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/search">Search</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/my_list">My Filmlist</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/watched"
              >Watched<span class="sr-only">(current)</span></a
            >
          </li>
        </ul>
        <p class="mb-0">
          <a href="/profile" class="mr-1 text-white-50 nhyper">Profile</a>
          <a href="/signout" class="mr-3 ml-1 text-white-50 nhyper">Sign out</a>
        </p>
      </div>
    </nav>
    <!----------------------------- Table ----------------------------->
    <div class="container">
      <h1 class="text-light mt-3">Watched</h1>
      <h5 class="text-light mt-4">
        Total Movies Watched: {{ this_user.watched.count }}
      </h5>
      {% if this_user.watched.count >= 150 %}
      <h5 class="text-light">Rank: <span class="text-warning">Certified Movie Buff</span></h5>
      {% elif this_user.watched.count >= 125 %}
      <h5 class="text-light">Rank: <span class="text-warning">Professional Film Critic</span></h5>
      {% elif this_user.watched.count >= 100 %}
      <h5 class="text-light">Rank:<span class="text-warning">Cinephile</span></h5>
      {% elif this_user.watched.count >= 75 %}
      <h5 class="text-light">Rank:<span class="text-warning">Amateur Film Critic</span></h5>
      {% elif this_user.watched.count >= 50 %}
      <h5 class="text-light">Rank:<span class="text-warning">Movie Enthusiast</span></h5>
      {% elif this_user.watched.count >= 25 %}
      <h5 class="text-light">Rank:<span class="text-warning"> Film Fanatic</span></h5>
      {% elif this_user.watched.count >= 10 %}
      <h5 class="text-light">Rank:<span class="text-warning">Film Fan</span></h5>
      {% else %}
      <h5 class="text-light">Rank:<span class="text-warning">Film Newbie</span></h5>
      </h5>
      {% endif %}
      <table class="table table-dark mt-3">
        <thead class="thead-dark">
          <tr>
            <th scope="col" class="text-light">Movie Poster</th>
            <th scope="col" class="text-light">Title</th>
            <th scope="col" class="text-light">Actions</th>
          </tr>
        </thead>
        <tbody>
          {% for movie in this_user.watched.all %}
          <tr>
            <th>
              <a href="/movie/{{movie.movie_id}}"
                ><img class="list_img" src="{{poster}}{{movie.poster_path}}"
              /></a>
            </th>
            <td class="text-light align-middle">{{movie.title}}</td>
            <td class="align-middle">
              <a href="/remove_from_watched/{{movie.id}}" class="btn btn-danger">Remove</a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    <script type="text/javascript">
      const f = document.getElementById("form");
      const q = document.getElementById("query");
      const moviedb = "https://api.themoviedb.org/3/search/movie?";
      const key = "api_key=e7ba26a5f58bd7e6bc19051ad022ea11&query=";

      function submitted(event) {
        event.preventDefault();
        const url = moviedb + key + "+" + q.value;
        const win = window.open(url, "/blank");
        win.focus();
      }

      f.addEventListener("submit", submitted);
    </script>
  </body>
</html>
