@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Sansita+Swashed&display=swap");

body {
  background-color: #343a40 !important;
}

#logo {
  font-size: 28px;
  font-family: "Sansita Swashed", cursive;
  background: linear-gradient(to right, #fa8bff 0%, #2bd2ff 52%, #2bff88 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.navbar {
  background-color: #212428 !important;
}

.navbar-collapse {
  background-color: #212428 !important;
}

.navbar p {
  background-color: #212428 !important;
}

.navbar form {
  background-color: #212428 !important;
}

.nav-link {
  color: white;
  font-size: small;
  background-color: #212428 !important;
}

.nhyper {
  font-size: small;
  background-color: #212428 !important;
}

.nhyper:hover {
  color: white;
  text-decoration: none;
}

.edih {
  text-indent: -99em;
}

.carousel-caption {
  background-color: transparent !important;
}

h5 {
  background-color: rgba(1, 1, 1, 0);
}

.mainslider {
  width: fit-content;
}

.poster {
  align-items: center;
  height: 50vh;
  border: 0.2rem solid white;
}

.profile_img {
  size: 15rem;
}

.details {
  list-style: none;
  color: white !important;
  padding-left: 0rem;
}

.r-col {
  line-height: 2.5rem;
}

.go-back {
  background: linear-gradient(to right, #fa8bff 0%, #2bd2ff 52%, #2bff88 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.bs {
  margin: 20px;
}
.modal-dialog iframe {
  margin: 0 auto;
  display: block;
  width: 100%;
}

.backdrop-list {
  width: 20vw;
}

.list {
  display: inline-block;
  padding: 2rem;
  flex-wrap: wrap;
}

.list_img {
  height: 10vh;
}

#info div {
  float: left;
  text-align: center;
  padding: 10px 0 10px 0;
  min-width: 12.5%;
}

#info div:hover {
  background: #212428;
  transition: 0.2s ease-in-out;
}

.rank_badge {
  width: 2vw;
}
